body{
  background-color: black;
  color: white;
}

#links{
  margin-left: 18.5rem;
  font-size: 1rem;
}

#links1, #links2{
  margin-left: 2rem;
  font-size: 1rem;
}

.home_div{
  padding: 17rem 40rem;
  background-image: url('https://store.hp.com/app/assets/images/uploads/prod/best-hp-laptops-for-programming-hero1539740528465.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
